:root {
  --nav-bar-color:  rgba(179, 236, 255, .7 );
}

#nav {
  background-color: rgb(179, 204, 255,.4) ;
  text-align: center;
  border-style: groove;
  width: 80% ; 
  margin: auto;
}

.nav {
    background-color: var(--nav-bar-color);
    text-align: center;
    border: none;
    color: darkslategrey;
    padding: 2vw 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.nav:hover {
    background-color:  darkslategrey; 
    color: var(--nav-bar-color);
}


#signup {
    background: url(https://mohegansun.com/content/dam/mohegansun/Images/Entertainment/arena/Carousel-Arena_1-1440x620.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .8);
  }

  .info {
    width: 50%;
    background: rgba(255, 250, 230, 0.5);
    padding: 50px 0;
    border-right: 10px solid rgba(30, 30, 30, .8);
    border-left: 10px solid rgba(30, 30, 30, .8);
  }
  

  #signup-form {
    width: 70%;
    padding: 30px 0;
    background: rgba(255, 250, 230, .5);
    transition: .2s;
  }

  #login-form {
    width: auto;
    padding: 50px 0;
    transition: .2s;
  }

  .login-btn {
    border: 1px solid rgb(67, 10, 180);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
  }

  .inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(179, 236, 255, .8 );
    color: white;
    outline: none;
  }

  .join-btn {
    border: 1px solid rgba(67, 10, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
  }

  .buy-ticket {
    border: 1px solid rgba(67, 10, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
  }

  .noBullet {
    list-style-type: none;
    padding: 0;
  }
  
body {
    /* color: #f0f0f0; */
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }

html {
  background-color: #f0f0f0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    padding: 20px;
   
    /* @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }; */
  }

  .card {
    background-color:  #7b889b;
    border-radius: 15px 50px;
    box-shadow: 0 40px 80px -28px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 40px;
    }
  
    img {
      width:300px;
      height:auto;
    }
