#nav {
    background-color: darkgreen;
}

.nav {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 2vh 2ch;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.nav:hover {
    background-color:  #4CAF50; /* Green */
    color: darkgreen;
}

*,
*::before,
*::after { 
  box-sizing: border-box;
}

body {
    /* color: #f0f0f0; */
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }

html {
  background-color: #f0f0f0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    padding: 20px;
   
    /* @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }; */
  }

  .card {
    background-color:  #ffccff;
    border-radius: 15px 50px;
    box-shadow: 0 40px 80px -28px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    }

    .card:hover {
        width: 300px;
        height: 300px;
     }
  
